/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    text-align: right;
    font-size: 10px;
    font-weight:bold;
    bottom: 2px;
}
.gxp-layermanager-tree .legend .x-panel {
    background-color: white !important;
}
.olLayerDiv {
    pointer-events: none;
}
